#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  height: 100%;
  min-height: 100%;
  width: 100%;
  z-index: 1000;
}

#webgl {
  background: #eee;
  position: fixed;
  color: red;
  top: 0;
  z-index: -99;
}

#fold {
  opacity: 0.2;
  background: yellow;
}

#fly {
  opacity: 0.2;
  background: pink;
}
